* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-top: 1em;
}

.container {
    width: 50%;
    background-color: rgba(230, 237, 243, 0.719);
    margin: auto;
    height: 60vh;
    border-radius: 5px;
    margin-top: 5px;
    padding: 20px 15px;
    overflow: auto;

}

input {
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    /* margin-left: 25%; */
    border: 0px;
    outline: 0px;
    border-radius: 10px;
}

button {
    border: none;
    width: 10%;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 600px;
    cursor: pointer;
}

.list {
    width: 100%;
    background-color: rgba(17, 17, 17, 0.603);
    border-radius: 5px;
    padding: 10px 5px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.close {
    float: right;
    cursor: pointer;
}