* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-top: 0.6em;
}

.container {
    width: 50%;
    background-color: rgba(230, 237, 243, 0.719);
    margin: auto;
    height: 60vh;
    border-radius: 5px;
    margin-top: 5px;
    padding: 20px 15px;
    overflow: auto;
    border: 1px solid rgba(255, 255, 255, 0.849);
   

}

input {
    width: 40%;
    margin: 1% 30%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 1px solid gray;
}

button {
    border: none;
    width: 10%;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 600px;
    cursor: pointer;
    color: rgb(22, 22, 22);
    background-color: rgba(184, 247, 226, 0.733);
    border: 1px solid rgba(255, 255, 255, 0.849);
}

button:hover {
    background-color: rgba(208, 243, 231, 0.678);
}

.list {
    width: 100%;
    background-color: rgba(17, 17, 17, 0.603);
    border-radius: 5px;
    padding: 10px 5px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
input.checkBox{
   width: 15px;
   height: 15px;
   margin: 0;
   margin-left: 12px;
}

.todo-description{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.title{
    margin-left: 12px;
    font-weight: 600;
}
#displayDate{
    /* float: right; */
    margin-right: 12px;
    font-size: 14px;
    order: 1;
}
#del{
    width: 10px;
    height: 10px;
    margin-top: 8px;
    cursor: pointer;
    margin-right: 12px;
    float: right;
}
.checked{
    text-decoration: line-through;
}

